<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <my-component></my-component>
</div>

<script type="text/javascript">

    Vue.component('my-component', {
        template: `
            <div>
                <input type="text" v-model="myValue1">
                <br/>
                <input type="text" v-model="myValue2">
                <br/>
                <p>{{myValue1}}</p>
                <p>{{myValue2}}</p>
            </div>
        `,
        data: function () {
            return {
                myValue1: 'abc',
                myValue2: 123
            }
        },
        // 监听
        watch: {
            myValue1: function () {
                console.log("myValue1 is updated as " + this.myValue1);
            },
            myValue2: function () {
                console.log("myValue1 is updated as " + this.myValue2);
            }
        }
    });

    let m = {
        isShow: true
    };

    let vm = new Vue({
        el: '#app',
        data: m,
        methods: {}
    });
</script>
</body>
</html>
<!--
    el          挂载点
    methods     方法
    data        数据
    filters     过滤器
    computed    计算属性
    directives  自定义指令
    watch       监听
    生命周期
    beforeCreate  created
    beforeMount   mounted
    beforeUpdate  updated
    beforeDestroy destroyed
-->
