<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script src="../js/vue.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="username" class="control-label">用户名：</label>
                <input id="username" type="text" class="form-control" v-model="username">
            </div>
            <div class="form-group">
                <label for="comment" class="control-label">备注：</label>
                <input id="comment" type="text" class="form-control" v-model="comment">
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="button" value="添加" class="btn btn-primary" v-on:click="addUser">
                    <input type="reset" value="取消" class="btn btn-danger" v-on:click="cancelAdd">
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">用户名</th>
            <th class="text-center">备注</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-show="userList.length === 0">
            <td colspan="4" class="text-center text-danger">
                暂无数据。。。。
            </td>
        </tr>

        <tr class="text-center" v-for="(item,index) in userList">
            <td>{{index+1}}</td>
            <td>{{item.username}}</td>
            <td>{{item.comment}}</td>
            <td>
                <input type="button" value="删除" class="btn btn-warning btn-sm" v-on:click="deleteUser(index)">
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script>
    let m = {
        username: '',
        comment: '',
        userList: [
            {
                username: "yangcx",
                comment: 'abcdefg'
            }, {
                username: "yangcc",
                comment: 'zxcvbnm,'
            }
        ]
    };

    let vm = new Vue({
        el: '.container',
        data: m,
        methods: {
            addUser() {
                // cxy 只需要维护数据即可，其他的交由Vue维护
                if (this.username !== '') {
                    this.userList.push({
                        username: this.username,
                        comment: this.comment
                    });

                    this.username = '';
                    this.comment = '';
                }
            },

            cancelAdd() {
                this.username = '';
                this.comment = '';
            },

            deleteUser(index) {
                let t = confirm("确认删除？");
                if (t){
                    this.userList.splice(index, 1);
                }
            }
        }
    });

</script>
</body>
</html>
